<!doctype html>

<html lang="en">
  <head>
    <meta charset="utf-8">

    <title>The HTML5 Herald</title>
    <meta name="description" content="The HTML5 Herald">
    <meta name="author" content="SitePoint">
  </head>

  <body>
    <nav>
        <ul>
            <li>
                <a href="/auth/logout">Logout</a>
            </li>
            <li>
                <a href="/auth/login">Login</a>
            </li>
            <li>
                <a href="/">Homepage</a>
            </li>
        </ul>
    </nav>
    <header>
      <h1>my oAuth</h1>
    </header>
  </body>
</html>